.header{
    width: 100%;
    height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    position: fixed;
    display: flex;
    justify-content: flex-end;
    background: rgba(241, 239, 239, 0.9);
    text-transform: uppercase;
    z-index: 50;
}
.nav{
    width: 380px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}
.nav-list{
    margin-right: 40px;
    height: 100%;
    display: flex;
    justify-content: space-around;
}
.nav-list a{
    height: 100%;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-list a:hover{
    background: rgba(194, 192, 192, 0.8);
}
.burger-container{
    height: 100%;
    width: 60px;
    display: none;
    align-items: center;
    justify-content: center;
}
.link-burger{
    height: 70%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-burger img{
    height: 80%;
}
.menu{
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 120px;
    background: rgba(241, 239, 239, 0.9);
    margin-top: -310px;
    transition: 0.6s;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 2rem;
    text-align: center;
}


.background-description{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background{
    width: 100%;
    height: 100%;
}
.imgText{
    position: absolute;
    width: 70%;
}
.imgText .description-title{
    width: 100%;
    font-size: 7rem;
    font-weight: 200;
    letter-spacing: 5px;
    text-align: center;
}
.imgText .description-content{
    width: 60%;
    margin-left: 10%;
    padding-right: 10px;
    font-size: 1.3rem;
    font-family: 'Comfortaa', sans-serif;
    border-right: rgba(65, 188, 225,0.8) dashed 3px;
    margin-top: 5%;
}
.mouse{
    position: absolute;
    width: 30px;
    bottom: 20px;
    transition: 0.4s ease;
}
/*****************S E R V I C E S*****************/
.containerServices{
    background: #CAE9FF;
    box-shadow: 0px 4.23655px 4.23655px rgba(0, 0, 0, 0.75);
}
.titleService{
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    color: #1f3538;
    letter-spacing: 0.18rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.titleService h2{
    width: 500px;
    text-align: end;
    padding: 30px 0 20px 0;
}
.services{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.service{
    margin:10px;
    width: 300px;
    height: 200px;
    background: #91E4EF;
    border-radius: 10px;
    transition: 0.5s;
}
.service:hover{
    background: rgb(118, 184, 194);
    width: 320px;
    height: 220px;
}
.serviceImg{
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textService{
    height: 60%;
    width: 100%;
}
.textService p{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
/*****************M E D I A *****************/
@media (max-width:1367px){
    .mouse{
        display: none;
    }
    .titleService{
        font-size: 1.5rem;
    }
}
@media (max-width:1025px){
    .background-description{
        height: 50vh;
    }
    .description-title{
        font-size: 3.5rem !important;
    }
    .titleService{
        font-size: 1rem;
    }
    .titleService h2{
        text-align: center;
    }
    .service{
        width: 250px;
    }
    .service:hover{
        width: 250px;
    }
}
@media (max-width:540px){
    .background-description .description-content{
        display: none;
    }
    .service{
        margin-left: 0px;
    }
    .services{
        justify-content: center;
    }
}
@media (max-width:450px){
    .burger-container{
        display: flex;
    }
    .menu.open{
        margin-top: 60px;
    }
    .open-menu{
        transition: 0.4s;
        border: 2px solid black;
    }
    .nav-list{
        display: none;
    }
    .imgText{
        margin-top: 50px;
    }
    .background-description{
        height: 30vh;
    }
    
    .description-title{
        font-size: 2rem !important;
    }
}
@media (max-width:320px){
    .service{
        width: 200px;
    }
}
@media screen and (orientation: landscape){
    .background-description{
        height: 100vh;
    }
    .services{
        justify-content: center;
    }
}
@media screen and (orientation: landscape) and (max-width:659px){
    .background-description .description-content{
        display: none;
    }
}