.container50{
    width: 50%;
}
.containerFolder{
    margin-top: 10vh;
    width: 100%;
    position: relative;
}
.folder{
    width: 100%;
    height: 70vh;
    background: rgba(24, 160, 251, 0.8);
    opacity: 0.8;
    box-shadow: -15px 20px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: -15px;
}
.folder h3{
    margin-bottom: 15px;
    font-family: 'Oswald', sans-serif;
    color:white;
    letter-spacing: 2px;
}
.folder p{
    font-family: 'Exo 2', sans-serif;
    margin-left: 15px;

}
.folder p:hover{
    text-decoration: underline;
    font-weight: bold;
}
.blocknav{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blockContent{
    height: 90%;
    width: 80%;
    line-height: 20px;
}
#ConsaltingOOO{
    width: 50%;
}
#ConsaltingIP{
    width: 50%;
}
#Consalting{
    width: 100%;
}
#Consalting .blockContent{
    width: 90%;
}
.blockContent .sort{
    display: flex;
    line-height: 25px;
}
.rumtext{
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#rum{
    width: 95%;
}
.absoluteText{
    position: absolute;
    width: 60%;
    height: 100%;
}
.HTitle{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.HTitle h2{
    text-align: center;
    letter-spacing: 0.2rem;    
    margin-bottom: 3%;
}
/*****************CONTENT*****************/
.ContainerServices{
    display: flex;
    margin-top: 80vh;
    width: 100%;
    height: 1000px;
    background: #D0EAFC;
}

/*****************ToolBar*****************/
.ToolBar{
    position: sticky;
    top: 60px;
    width: 20%;
    height: 500px;
    background: yellow;
    margin-top: 103vh;
}