.Folder{
    width: 100%;
    position: relative;
}
.upfolder{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upfolder img{
    width: 80%;
}
.textimg{
    position: absolute;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
}
.folder{
    background: #51B1EC;
    border-radius: 5px;
    padding: 30px;
    font-size: 1.1rem;
}
.folderTop{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.blockNav{
    width: 410px;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.blockNav.content{
    margin-top: 30px;
    line-height: 1.4rem;
}
.blockNav a p{
    margin-left: 15px;
}
.blockNav a p:hover{
    text-decoration: underline;
}
.folderDown{
    width: 100%;
}
.folderDown{
    margin-top: 50px;
    width: 100%;
}
.folderDown .title{
    width: 100%;
    text-align: center;
}
.contentDown{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
@media (max-width:1258px){
    .blockNav{
        font-size: 1rem;
        width: 340px;
    }
}
@media (max-width:1058px){
    .folder{
        padding: 20px;
    }
    #folder{
        width: 80%;
    }
    .blockNav{
        line-height: 1.4rem;
        font-size: 0.8rem;
        width: 270px;
    }
    .folderDown{
        margin-top: 10px;
    }
}
@media(max-width:725px){
    .folder{
        pad: 5px;
    }
    .blockNav{
        width: 100%;
    }
    .contentDown .blockNav{
        width: 210px;
    }
    .blockNav a h3{
        text-align: center;
    }
    .folderDown .title a h3{
        font-size: 1.1rem;
    }
    .content{
        display: flex;
        justify-content: space-between;
    }
    .contentDown{
        display: flex;
        justify-content: space-between;
    }
    .footer{
        position: absolute;
    }
}
@media (max-width:650px){
    .folder{
        padding: 15px;
    }
    .textimg{
        letter-spacing: 0.05rem;
        font-size: 1rem;
    }
    .blockNav{
        font-size: 0.9rem;
        line-height: 1.2rem;
        width: 100%;
        text-align: center;
    }
    .blockNav a p{
        display: none;
    }
    .folderDown{
        margin-top: 0;
    }
    .folderDown .title{
        font-size: 0.9rem;
    }
}
@media (max-width:650px){
    .textimg{
        font-size: 0.85rem;
    }
    .blockNav{
        font-size: 0.8rem;
    }
    .folderDown .title{
        font-size: 0.8rem;
    }
    .folder .title h3{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 19px;
    }
}