.Folder{
    width: 100%;
    position: relative;
}
.upfolder{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upfolder img{
    width: 80%;
}
.textimg{
    position: absolute;
    font-size: 1.4rem;
    letter-spacing: 0.15rem;
}
.folder{
    background: #51B1EC;
    border-radius: 5px;
    padding: 30px;
    font-size: 1.1rem;
}
.folderTop{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.blockNav{
    width: 410px;
    font-size: 1.2rem;
    line-height: 1.8rem;
}
.blockNav.content{
    margin-top: 30px;
    line-height: 1.4rem;
}
.blockNav a p{
    margin-left: 15px;
}
.blockNav a p:hover{
    text-decoration: underline;
}
.folderDown{
    width: 100%;
}
.folderDown{
    margin-top: 50px;
    width: 100%;
}
.folderDown .title{
    width: 100%;
    text-align: center;
}
.contentDown{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.menu-nav{
    width: 100%;
    font-size: 0.7rem;
    display: flex;
}
.mobile-nav{
    display: none;
}
.nav-block-vert{
    font-family: 'Comfortaa';
    text-align: start;
    line-height: 0rem;
    height: 0px;
    font-size: 0rem;
    font-size: 0.6rem;
    opacity: 0;
    padding-left: 20px;
}
.nav-block-vert a{
    display: flex;
}

.nav-block-vert a::before{
    content: '---';
    letter-spacing: -0.1rem;
    margin-right: 5px;
}
.open{
    transition: 0.1s;
    height: auto;
    opacity: 1;
    line-height: 1.2rem;
}
.servicesContainer{
    margin-top: 40px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.servicesSelector{
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.Services{
    width: 100%;
    height: 100%;
}
.headServices{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}
.rum{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0 ;
    background-color: rgb(252, 252, 252);
}
.rum h3{
    position: absolute;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}
.servicesBlock{
    width: 100%;
    background-color: #bbd9ee;;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
}
.contentServices{
    width: 70%;
    padding: 20px 0 30px 30px;
    position: relative;
}
.titleServices{
    font-size: 1.6rem;
}
.contentServices .content{
    margin-top: 10px;
    padding-left: 10px;
    text-align: justify;
    font-size: 1.2rem;
}
.priceText{
    width: 25%;
    margin-top: 7%;
}
.priceText .text{
    font-size: 3.2rem;
    display: flex;
    justify-content: center;
    font-family: 'Tienne', serif;
}
.containerBtn{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.toolBarContainer{
    width: 30%;
    display: flex;
    justify-content: center;
    min-width: 360px;
    position: sticky;
    top: 80px;
    height: 730px;
}
.toolBar{
    width: 80%;
    background-color: #F0F4F8;
    border-radius: 5px;
}
.block{
    width: 90%;
    padding:0 15px 15px 15px;
}
.block .title{
    width: 100%;
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
}
.block .contentTool{
    margin-top: 5px;
    width: 95%;
    padding-left: 5px;
    font-size: 0.9rem;
}
.block .contentTool a{
    display: flex;
    color: black;
}
.block .contentTool a:hover{
    text-shadow: black 0 0 1px;
}
.block .contentTool a p{
    width: 100%;
}
.block .contentTool a::before{
    content: '-';
    margin-right: 5px;
}
.min-device{
    display: none;
}
@media (max-width:1700px){
    .priceText .text {
        font-size: 2.7rem;
    }
    .priceText .containerBtn a{
        width: 150px;
        height: 40px;
        letter-spacing: 0.1rem;
    }
    .contentServices .content{
        font-size: 1rem;
    }
}
@media (max-width:1400px){
    .priceText{
        margin-top: 12%;
    }
    .priceText .text {
        font-size: 2.3rem;
    }
    .priceText .containerBtn{
        margin-top: 20px;
    }
    .priceText .containerBtn a{
        width: 150px;
        height: 40px;
        letter-spacing: 0.1rem;
    }
    .contentServices .content{
        font-size: 1rem;
    }
}
@media (max-width:1258px){
    .blockNav{
        font-size: 1rem;
        width: 340px;
    }
    .toolBarContainer{
        display: none;
    }
    .servicesContainer{
        justify-content: center;
    }
    .servicesSelector{
        justify-content: center;
        width: 80%;
    }
}
@media (max-width:1058px){
    .folder{
        padding: 20px;
    }
    #folder{
        width: 80%;
    }
    .blockNav{
        line-height: 1.4rem;
        font-size: 0.8rem;
        width: 270px;
    }
    .folderDown{
        margin-top: 10px;
    }
}
@media (max-width:800px){
    .servicesBlock{
        display: none;
    }
    .max-device{
        display: none;
    }
    .min-device{
        display: flex;
    }
    .rum{
        border-radius: 40px 40px 0 40px;
    }
}
@media(max-width:725px){
    .folder{
        pad: 5px;
    }
    .blockNav{
        width: 100%;
    }
    .contentDown .blockNav{
        width: 210px;
    }
    .blockNav a h3{
        text-align: center;
    }
    .folderDown .title a h3{
        font-size: 1.1rem;
    }
    .content{
        display: flex;
        justify-content: space-between;
    }
    .contentDown{
        display: flex;
        justify-content: space-between;
    }
    
    .rum h3{
        font-size: 1rem;
    }
}
@media (max-width:650px){
    .folder{
        padding: 15px;
    }
    .textimg{
        letter-spacing: 0.05rem;
        font-size: 0.85rem;
    }
    .folderTop, .folderDown{
        display: none;
    }
    .mobile-nav{
        display: block;
    }
    .folder .title h3{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 19px;
    }
    .Services{
        width: 100%;
    }
}
@media (max-width:480px){
    .rum {
        width: 60%;
        height: 40px;
    }
    .rum h3{
        font-size: 0.8rem;
    }
}